* {
    margin: 0 auto;
    padding: auto;
}

html {
    background: white;
}

body {
    width: 1000px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    padding-top: 10px;
    font-size: 40px;
}

nav ul {
    list-style: none;
    float: left;
}

nav ul li {
    display: block;
    padding-top: 20px;
}

p {
    text-align: center;
    padding: 30px;
    text-indent: 1cm;
}

.lang {
    list-style-type: none;
    margin-top: 150px;
}